@model lab_vinfinita.Models.Vinho

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes do vinho</h2>

<div>
    <h4>Vinho</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeVinho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeVinho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FotoFrente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoFrente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FotoTras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoTras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FotoRotulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FotoRotulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeorAlcoolico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeorAlcoolico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Castas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Castas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoProducao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoProducao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Possuir.IdProdutorNavigation.NomeProdutor)
        </dt>
        <dd>
            @(ViewBag.nomeprodutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Possuir.IdRegiaoNavigation.NomeRegiao)
        </dt>
        <dd>
            @(ViewBag.nomeregiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Possuir.IdTipoNavigation.NomeTipo)
        </dt>
        <dd>
            @(ViewBag.nometipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AlterarPreco" asp-route-id="@Model.IdVinho">Alterar Preco</a> |
    <a asp-action="AlterarStock" asp-route-id="@Model.IdVinho">Alterar Stock</a> |
    <a asp-action="Index">Voltar atrás</a>
</div>
